.trapezoid {
  height: 100vh;
  border-right: 550px solid transparent;
  border-bottom: 100vh solid #202020;
  width: 60%;
}

@media (max-width: 1024px) {
  .trapezoid {
    border-right: 400px solid transparent;
    border-bottom: 100vh solid #202020;
  }
}

@media (max-width: 768px) {
  .trapezoid {
    display: none;
  }
}

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 410px;
}

@media (max-width: 768px) {
  .profile {
    display: none;
  }
}

.circle {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px rgba(19, 255, 0, 0.8), 0 0 50px rgba(19, 255, 0, 0.6),
    0 0 70px rgba(19, 255, 0, 0.4);
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .circle {
    top: 35%;
  }
}

@media screen and (max-width: 500px) {
  .circle {
    top: 35%;
    transform: translate(-50%, -35%);
    border-radius: 0;
  }
}
