.Modal {
  background: #202020;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  width: 500px;
  max-width: 80%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  z-index: 99999;
}

.Overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99998;
}
