.custom-dots {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.custom-dot {
  width: 8px;
  padding: 0;
  margin: 0;
  height: 2px;
  background-color: #ccc;
  border-radius: 5px;
}

.custom-dot.slick-active {
  background-color: #ff0000;
}
