@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.alex-brush-regular {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.icon {
  font-size: 30px;
}
@keyframes putar {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles.css */
.line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: #4a90e2;
}

.card-skill {
  transform: translate(-50%, -0%);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}
::-webkit-scrollbar-thumb {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}

.card-project {
  box-shadow: 0px 4px 4px 0px rgba(204, 100, 100, 0.16);
}
