@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 p-0 box-border;
}

.icon {
  font-size: 30px;
}
@keyframes putar {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(
      360deg
    ); /* Rotasi akhir 360 derajat (satu putaran penuh) */
  }
}

.circle {
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px rgba(19, 255, 0, 0.8), 0 0 50px rgba(19, 255, 0, 0.6),
    0 0 70px rgba(19, 255, 0, 0.4);
  /* animation: putar 1s linear infinite; */
}

.profile {
  transform: translate(-30%, -25%);
}

/* @media screen and (max-width: 1024px) {
  .circle {
    left: 50%;
    top: 30%;
  }
} */

@media screen and (max-width: 500px) {
  .circle {
    left: 30%;
  }
}

@media screen and (max-width: 300px) {
  .circle {
    left: 10%;
  }
}

.trapezoid {
  height: 100vh;
  border-right: 300px solid transparent; /* Setengah dari lebar atas */
  border-bottom: 100vh solid #202020; /* Tinggi trapesium dan warna */
}
/* @media screen and (max-width: 1024px) {
  .trapezoid {
    height: 50vh;
    border-right: 300px solid transparent; 
    border-bottom: 50vh solid #202020; 
  }
} */

.card-skill {
  transform: translate(-50%, -0%);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}
::-webkit-scrollbar-thumb {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}

.card-project {
  box-shadow: 0px 4px 4px 0px rgba(204, 100, 100, 0.16);
}
